global
    log /dev/log local0
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option forwardfor
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_in
    bind *:80
    acl host_veeb hdr(host) -i veeb.kollanokad.praktika
    use_backend wordpress_cluster if host_veeb
    default_backend wordpress_cluster

backend wordpress_cluster
    balance roundrobin
    option httpchk GET /
    server veeb1 172.18.30.40:80 check
    server veeb2 172.18.30.41:80 check
